{{/*
  You can add further theme extensions or customizations here if they should
  appear in <head>.
*/}}
{{ with .Params.robots }}
    <meta name="robots" content="{{ . }}">
{{ end }}

<meta http-equiv="Content-Security-Policy" content="
  script-src 'self' 'unsafe-inline' https://scripts.simpleanalyticscdn.com https://sa.perceptum.nl;
  connect-src 'self' https://queue.simpleanalyticscdn.com https://sa.perceptum.nl;
  img-src 'self' https://queue.simpleanalyticscdn.com https://simpleanalyticsbadges.com https://sa.perceptum.nl;
">
