<section class="container taxonomy">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>
  </header>
  {{ .Content }}
  <ul class="taxonomy-list">
    {{ $tags := $.Site.Taxonomies.tags.ByCount }}
    {{ $v1 := where $tags "Count" ">=" 3 }}
    {{ $v2 := where $v1 "Term" "not in" (slice "book" "tags" "rss") }}
    {{ range $v2 }}
      {{ if .Term }}
        <li class="taxonomy-item">
          <a href="{{ printf "tags/%s" .Term | urlize }}.html" class="taxonomy-link">
            {{ .Term }} <span class="badge">({{ .Count }})</span>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>
