{{ define "content" }}
<section class="container list">
<div class="book-covers">
    <h1>All Bookcovers</h1>
    <div class="covers-grid">
        {{ range .Paginator.Pages }}
            <div class="book-cover">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ .Params.cover }}" alt="{{ .Title }}">
                </a>
            </div>
        {{ end }}
    </div>

    <!-- Pagination Controls -->
    <div class="bookpagination">
        {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}">Previous</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">Next</a>
        {{ end }}
    </div>
</div>
</section>

{{ end }}